<form class="margin-bottom"
      [formGroup]="queryForm"
      ngNativeValidate
      (submit)="getRecipes()">
  <input class="margin-right"
         formControlName="query"
         type="text"
         required
         placeholder="Insert any query"
         autofocus>

  <button class="button button--secondary margin-right"
          [ngClass]="{'margin-bottom': filterIsShown}"
          type="button"
          (click)="toggleFilter()">
    {{filterIsShown ? 'Hide filter' : 'Show filter'}}
  </button>

  <button class="button"
          type="submit"
          [disabled]="queryForm.invalid">Get recipes
  </button>

  <div [hidden]="!filterIsShown"
       class="filter">
    <P>
      <label class="display-block margin-bottom"
             for="excluded">Excluded ingredients</label>
      <textarea type="text" id="excluded"
                formControlName="excluded"></textarea>
    </P>
    <div class="display-flex align-items-start">
      <fieldset class="filter__fieldset">
        <legend>
          Preferable dish:
        </legend>

        <ul>
          <li *ngFor="let dish of dishTypes">
            <p>
              <input [checked]="dish.checked"
                     (change)="dish.checked = !dish.checked"
                     type="checkbox"
                     [id]="dish.value">
              <label [for]="dish.value">{{dish.value}}</label>
            </p>
          </li>
        </ul>
      </fieldset>

      <fieldset class="filter__fieldset">
        <legend>
          Preferable cuisine:
        </legend>

        <ul>
          <li *ngFor="let cuisine of cuisineTypes">
            <p>
              <input [checked]="cuisine.checked"
                     (change)="cuisine.checked = !cuisine.checked"
                     type="checkbox"
                     [id]="cuisine.value">
              <label [for]="cuisine.value">{{cuisine.value}}</label>
            </p>
          </li>
        </ul>
      </fieldset>

      <fieldset class="filter__fieldset">
        <legend>
          Preferable meal:
        </legend>

        <ul>
          <li *ngFor="let meal of mealTypes">
            <p>
              <input [checked]="meal.checked"
                     (change)="meal.checked = !meal.checked"
                     type="checkbox"
                     [id]="meal.value">
              <label [for]="meal.value">{{meal.value}}</label>
            </p>
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
</form>

<div *ngIf="!filterIsShown && (selectedCuisineTypes.length || selectedDishTypes.length || selectedMealTypes.length)">
  <p>Chosen options:</p>

  <div *ngIf="selectedCuisineTypes.length"
       class="margin-bottom">
    Cuisine:
    <span *ngFor="let cuisine of selectedCuisineTypes; index as i"
          class="text-lowercase">{{cuisine}} {{i === selectedCuisineTypes.length - 1 ? '' : ', '}}</span>
  </div>

  <div *ngIf="selectedDishTypes.length"
       class="margin-bottom">
    Dish:
    <span *ngFor="let dish of selectedDishTypes; index as i"
          class="text-lowercase">{{dish}} {{i === selectedDishTypes.length - 1 ? '' : ', '}}</span>
  </div>

  <div *ngIf="selectedMealTypes.length"
       class="margin-bottom">
    Meal:
    <span *ngFor="let meal of selectedMealTypes; index as i"
          class="text-lowercase">{{meal}} {{i === selectedMealTypes.length - 1 ? '' : ', '}}</span>
  </div>
</div>

<span *ngIf="recipesIsFetching">We are looking for recipes by your query</span>

<span *ngIf="errorMessage">{{errorMessage}}</span>
