<div class="recipe">
  <h3>{{recipe.label}}</h3>

  <img [src]="recipe.image" alt="recipe">

  <h4>You need:</h4>

  <ul class="margin-bottom">
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ingredient.text}}
    </li>
  </ul>

  <a [href]="recipe.url" target="_blank">Original recipe</a>

  <p *ngIf="isSaved !== null">
    <input [checked]="isSaved"
           (change)="toggleRecipe.next(recipe)"
           type="checkbox"
           [id]="recipe.url">
    <label [for]="recipe.url">Save the recipe</label>
  </p>
</div>
